@import 'base/variables';
* {
    font-family: 'MuseoModerno', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}

.section__header {
    color: #0D0D0D;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    &.section__header_bold {
        font-weight: 700;
    }
}
@import 'blocks/promo';
@import 'blocks/header.scss';
@import 'blocks/buttons';
@import 'blocks/advantages'