@font-face {
    font-family: 'MuseoModerno Light';
    src: url('../fonts/MuseoModerno-Light.eot');
    src: url('../fonts/MuseoModerno-Light.eot') format('embedded-opentype'),
    url('../fonts/MuseoModerno-Light.woff') format('woff'),
    url('../fonts/MuseoModerno-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'MuseoModerno Bold';
    src: url('../fonts/MuseoModerno-Bold.eot');
    src: url('../fonts/MuseoModerno-Bold.eot') format('embedded-opentype'),
    url('../fonts/MuseoModerno.woff') format('woff'),
    url('../fonts/MuseoModerno-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }    
@font-face {
    font-family: 'MuseoModerno Medium';
    src: url('../fonts/MuseoModerno-Medium.eot');
    src: url('../fonts/MuseoModerno-Medium.eot') format('embedded-opentype'),
    url('../fonts/MuseoModerno-Medium.woff') format('woff'),
    url('../fonts/MuseoModerno-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }  